DATABASE_URL="postgresql://postgres:postgres@localhost:5432/riellmail?schema=public"

ADMIN_SESSION_SECRET="riellpedia_super_secret_admin_session_key_2026_x99"
INITIAL_ADMIN_EMAIL="admin@riellpedia.com"
INITIAL_ADMIN_PASSWORD="AdminPassword123!"

NEXT_PUBLIC_APP_URL="http://localhost:3000"

CLOUDFLARE_API_TOKEN=""
CLOUDFLARE_ACCOUNT_ID=""

EMAIL_HANDLER_SECRET="cf_worker_webhook_secret_riellmail_2026_xyz"

TURNSTILE_SECRET_KEY=""
NEXT_PUBLIC_TURNSTILE_SITE_KEY=""
